boto==2.49.0
boto3==1.9.191
botocore==1.12.191
Bottleneck==1.2.1
bz2file==0.98
Cython==0.29.6
gensim==3.4.0
nltk==3.4.5
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpy-ringbuffer==0.2.1
numpydoc==0.8.0
pandas==0.24.2
pomegranate==0.11.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
pytorch-pretrained-bert==0.6.2
regex==2019.6.8
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
toposort==1.5
tqdm==4.31.1

